{% extends 'base.html.twig' %}

{% block title %}Hello ClasseController!{% endblock %}

{% block header %}

    <nav class="nav navbar" id="subtabs">
        <ul class="list-unstyled flex-row">
            <li><a class="nav-link" href="#home">Accueil</a></li>
            <li><a class="nav-link" href="#stats">Stats</a></li>
        </ul>
    </nav>

{% endblock %}

{% block body %}
    {% include 'classe/tabs/home.html.twig' %}
    {% include 'classe/tabs/stats.html.twig' %}
{% endblock %}

{% block javascript %}
<script lang="js">

    let tabs = document.getElementById('subtabs').children[0].children;

    Array.from(tabs).forEach(tab => {
        tab.addEventListener('click', e => {

            let timeout = setInterval(switchSubTab, 100)

            setTimeout(() => {
                clearTimeout(timeout)
            }, 100)
        })
    })

    function switchSubTab(){
        const hash = window.location.hash.slice(1)

        Array.from(tabs).forEach(tab => {
            document.getElementById(tab.children[0].href.split('#')[1]).display = "none" +
    ""
        })

        document.getElementById(hash).display = "block"
    }
</script>

{% endblock %}

