{% extends 'base.html.twig' %}

{% block title %}Hello ClasseController!{% endblock %}

{% block header %}

    <nav class="nav navbar" id="subtabs">
        <ul class="list-unstyled flex-row">
            <li><a class="nav-link" href="#home">Accueil</a></li>
            <li><a class="nav-link" href="#stats">Stats</a></li>
        </ul>
    </nav>

{% endblock %}

{% block body %}
    <div class="subpages">
        {% include 'classe/tabs/home.html.twig' %}
        {% include 'classe/tabs/stats.html.twig' %}
    </div>
{% endblock %}

{% block script %}
    <script src="{{ asset('storage/assets/js/subtabs.js') }}" lang="js"></script>
{% endblock %}

