{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block stylesheets %}

    <style lang="css">

        #home #search_table tbody tr:hover{
            cursor: pointer;
            --user-hover: rgba(76, 143, 210, 0.55);
            background-color: var(--user-hover);
            --tblr-table-striped-bg: var(--user-hover);
        }
    </style>

{% endblock %}

{% block header %}

    <nav class="nav navbar justify-content-start" id="subtabs">
        <li><a class="nav-link" href="#home">Accueil</a></li>
        <li><a class="nav-link" href="#stats">Stats</a></li>
    </nav>

{% endblock %}

{% block body %}
    <div class="subpages">
        {% include 'utilisateur/tabs/home.html.twig' %}
        {% include 'utilisateur/tabs/stats.html.twig' %}
    </div>
{% endblock %}

{% block script %}
    <script src="{{ asset('storage/assets/js/subtabs.js') }}" lang="js"></script>
{% endblock %}

