{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block header %}

    <nav class="nav navbar justify-content-start" id="subtabs">
        <li><a class="nav-link" href="#home">Accueil</a></li>
        <li><a class="nav-link" href="#stats">Stats</a></li>
    </nav>

{% endblock %}

{% block body %}
    <div class="subpages">
        {% include 'utilisateur/tabs/home.html.twig' %}
        {% include 'utilisateur/tabs/stats.html.twig' %}
    </div>
{% endblock %}

{% block script %}
    <script src="{{ asset('storage/assets/js/subtabs.js') }}" lang="js"></script>
{% endblock %}

